	#vocals-dog-control {
		top: 45px;
		left: 405px;
	}	
	#pulse-dog-control {
		top: 160px;
		left: 135px;
	}	
	#chest-dog-control {
		top: 200px;
		left: 300px;
	}	
	#left-lung-dog-control {
		top: 110px;
		left: 355px;
	}	
	#right-lung-dog-control {
		top: 110px;
		left: 265px;
	}
	#heart-sound-dog-control {
		top: 155px;
		left: 300px;
	}
	
.dog-control {
	position: absolute;
	text-align: center;
}

.sound-mute {
	display: none;
}	

	
	.dog-control a, .dog-control a:visited{
		color: #FFFFFF;
		font-weight: bold;
	}
	.dog-control a img{
		margin: -3px 0 -3px -5px;
	}

	#vs-left-col {
		width: 500px;
		position: relative;
		float: left;
		height: 250px;
	}
	
	#vs-right-col {
		position: relative;
		float: left;
		margin: 10px 0 0 0px;
	}
	
		.vs-controls {
			margin: 0px 0 10px 0;
			width: 70px;
		}
			.vs-controls .display-rate {
				font-size: 50px;
				float: left;
				margin: 0;
				width: 150px;
			}
				#vs-heartRhythm {
					color: green;
					margin-bottom: 45px;
					height: 30px;
				}
				#vs-awRR {
					color: white;
				}
				
				.strip-label {
					font-size: 24px;
				}
				
.alt-control {
	float: left;
	margin: 0px 0px 10px 10px;
	text-align: left;
	width: 110px;
}
	.alt-control a.alt-control-title {
		font-size: 18px;
		margin-bottom: 5px;
	}
	.alt-control a {
		clear: both;
		float: left;
		margin: 10px 5px 0 0;
	}
	.alt-control p, .alt-control a{
		float: left;
		font-size: 45px;
	}
		.alt-control.with-sub p, .alt-control.with-sub a {
			margin-bottom: -2px;
		}
		.alt-control.control-Tperi {
			width: 154px;
		}
		.alt-control.awRR {
			width: 140px;
			position: absolute;
			top: 215px;
			right: 8px;
		}
		.alt-control.SpO2 {
			width: 120px;
			position: absolute;
			top: 290px;
			right: 29px;
		}
		
.wide-col {
	margin: 0px 0 10px 0;
	float: left;
	width: 100%;
}
	.wide-col.buttons {
		margin-top: 20px;
	}
	div.nbp {
		width: 50px;
	}
		
button.nvs-button {
	height: 30px;
	border-radius: 5px;
	cursor: pointer;
	width: 155px;
	padding: 3px 0 8px 0;
	position: absolute;
}

#button-nbp {
	width: 90px;
	position: absolute;
	bottom: 0;
	right: 50px;
}
	#vs-nbp {
		margin: 10px 0 0 0;
		width: 320px;
		position: relative;
	}
		#vs-nbp a.alt-control-title {
			margin: 0px 0 0px 0;
		}
		#vs-nbp a.alt-control-rate {
			font-size: 45px;
			width: 320px;
			float: left;
			margin: 15px 0 0 0;
		}
			#vs-nbp a.alt-control-rate#display-nbp-hr {
				margin-top: 15px;
			}
			#vs-nbp a.alt-control-rate #displayed-diastolic {
				margin-right: -10px;
			}
			#vs-nbp a.alt-control-rate.nbip {
				width: 355px;
			}
		
	#nbp-control-coupled-title {
		margin: 14px 0 0 130px;
		float: left;
	}
	#nbp-control-coupled-title-hr {
		margin: 14px 0 0 90px;
		float: left;
	}
	#nbp-control-coupled, #nbp-control-coupled-hr {
		margin: 16px 0 0 10px;
		float: left;
	}
	
/* nvs icons */
	img.nvs-button {
		width: 50px;
		position: absolute;
		cursor: pointer;
	}
	h2.nvs-button {
		position: absolute;
		font-size: 14px;
		color: #000000;
	}
		
.color-white {
	color: #FFFFFF;
}
.color-green {
	color: green;
}
.color-yellow {
	color: yellow;
}
.color-red {
	color: red;
}
.color-blue {
	color: #0066FF;
}

.vs-upper-label {
	font-size: 20px;
}
.vs-lower-label {
	font-size: 26px;
}
.nbip-label {
	font-size: 20px;
	margin-left: -10px;
}
